* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  overflow: hidden;
}

/*-----------------------*/
.jogging__title {
  padding-bottom: 50px;
  padding-top: 70px;
  gap: 80px;
  display: flex;
  align-items: center;
}
.detail__jogging {
  position: relative;
  padding: 0 160px;
  width: 1920px;
}
.jogging__title h2 {
  margin: 0;
  min-width: 133px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.9px;
}

.jogging__title .title__tabs > ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.jogging__title .title__tabs .tab__item {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.5s;
  border-bottom: 3px solid transparent;
}
.jogging__title .title__tabs .tab__item:hover {
  color: #007994;
}

.jogging__title .title__tabs .tab__item.active {
  color: #007994;
  border-bottom: 3px solid #007994;
}
.detail__jogging .jogging__bg {
  position: absolute;
  top: 580px;
  border-radius: 20px;
  width: 1600px;
  height: 360px;
  background-color: #f9f8f1;
}

.jogging__hero {
  position: relative;
  padding: 0 132px;
}
/* Styles for the first Swiper */
.swiper1 {
  margin: auto 0;
  height: 562px;
  overflow: hidden;
  position: relative;
}
.swiper1 .swiper-slide {
  height: 490px;
  width: 870px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  background-color: #882525;
  line-height: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  border-radius: 20px;
}
.swiper1 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.swiper1 .swiper-slide-active {
  width: 1000px !important;
  margin-left: -300px;
  height: 562px !important;
  z-index: 1;
}
.swiper1 .swiper-slide-next {
  margin-left: -250px;
  z-index: 0;
}
.swiper1 .swiper-slide-prev,
.swiper1 .swiper-slide-next {
  opacity: 0.3;
}
.swiper1 .button-prev,
.swiper1 .button-next {
  cursor: pointer;
  z-index: 3;
  position: absolute;
  top: 50%;
  color: #007994;
  width: 70px;
  height: 70px;
  background-color: #eaeff2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeff2;
}

.swiper1 .button-prev {
  left: 30px;
  transition: all 0.5s;
}
.swiper1 .button-prev:hover,
.swiper1 .button-next:hover {
  border: 1px solid #007994;
  background-color: white;
}
.swiper1 .button-next {
  right: 30px;
  rotate: 180deg;
  transition: all 0.5s;
}

/* Styles for the second Swiper */
.swiper2__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper2 {
  margin-top: 20px;
  padding-bottom: 20px;
  width: 1336px;
  position: relative;
  overflow: hidden;
}
.swiper2 .swiper-slide {
  user-select: none;

  height: 130px !important;
  width: 206px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;
  color: black;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer; /* Change cursor to pointer */
}

.swiper2 .swiper-slide:hover .slide__overlay {
  opacity: 1;
}
.swiper2 .swiper-slide .slide__overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all 0.5s;
  background: linear-gradient(
      0deg,
      rgba(0, 91, 172, 0.45) 0%,
      rgba(0, 91, 172, 0.45) 100%
    ),
    url("../img/seongnam__medical__list/main/1.png") lightgray 50% / cover no-repeat;
}

.swiper2 .swiper-slide:nth-of-type(1) .slide__overlay {





  background: linear-gradient(
      0deg,
      rgba(0, 91, 172, 0.45) 0%,
      rgba(0, 91, 172, 0.45) 100%
    ),
    url("../img/seongnam__medical__list/main/jogging.png") lightgray 50% / cover no-repeat;
}
.swiper2 .swiper-slide:nth-of-type(2) .slide__overlay {
  background: linear-gradient(
      0deg,
      rgba(0, 91, 172, 0.45) 0%,
      rgba(0, 91, 172, 0.45) 100%
    ),
    url("../img/seongnam__medical__list/main/jogging.png") lightgray 50% / cover no-repeat;
}
.swiper2 .swiper-slide:nth-of-type(3) .slide__overlay {
  background: linear-gradient(
      0deg,
      rgba(0, 91, 172, 0.45) 0%,
      rgba(0, 91, 172, 0.45) 100%
    ),
    url("../img/seongnam__medical__list/main/3.png") lightgray 50% / cover no-repeat;
}
.swiper2 .swiper-slide:nth-of-type(4) .slide__overlay {
  background: linear-gradient(
      0deg,
      rgba(0, 91, 172, 0.45) 0%,
      rgba(0, 91, 172, 0.45) 100%
    ),
    url("../img/seongnam__medical__list/main/4.png") lightgray 50% / cover no-repeat;
}
.swiper2 .swiper-slide:nth-of-type(5) .slide__overlay {
  background: linear-gradient(
      0deg,
      rgba(0, 91, 172, 0.45) 0%,
      rgba(0, 91, 172, 0.45) 100%
    ),
    url("../img/seongnam__medical__list/main/5.png") lightgray 50% / cover no-repeat;
}
.swiper2 .swiper-slide:nth-of-type(6) .slide__overlay {
  background: linear-gradient(
      0deg,
      rgba(0, 91, 172, 0.45) 0%,
      rgba(0, 91, 172, 0.45) 100%
    ),
    url("../img/seongnam__medical__list/main/6.png") lightgray 50% / cover no-repeat;
}
.swiper2 .swiper-slide .slide__overlay .icon__container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 4px solid #007994;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper2 .swiper-slide .slide__overlay .icon__container > div {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #007994;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper2 .swiper-slide .slide__img {
  width: 100%;
  height: 100%;
}
.swiper2 .swiper-slide .slide__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

/* Progress bar styles */
.swiper2-progress-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 4px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  cursor: pointer;
}
.swiper2-progress-fill {
  height: 100%;
  background-color: white;
  border-radius: 3px;
  width: calc(100% / 20 * 8); /* Fixed width based on visible slides */
  position: relative;
}

/* --------------------------Introduction ----------------------*/
.introduction {
  width: 1920px;
  padding: 120px 160px;
}

.introduction__title {
  margin: 0;
  font-weight: 700;
}

.introduction__item {
  padding-top: 30px;
  width: 100%;
  display: flex;
  gap: 80px;
}
.introduction__item .introduction__item__left {
  width: 649px;
  height: 370px;
}
.introduction__item .introduction__item__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.introduction__info__item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.introduction__info__item .info__item__left {
  min-width: 150px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.introduction__info__item .info__item__left > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e8fcff;
}
.introduction__item__right h3 {
  padding-bottom: 20px;
  margin: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.8px;
}
.introduction__item__right p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  letter-spacing: -0.5px;
}

.introduction__right__info {
  padding-top: 36px;
}

.introduction__info__item {
  padding-bottom: 20px;
}

.introduction__info__item .info__item__left h4 {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.45px;
}
.info__item__right{
  flex-wrap: wrap;
  width: 400px;
}

.info__item__right p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.45px;
}

.introduction__guide__info {
  padding-top: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.introduction__guide__info .introduction__guide__left {
  display: flex;
  width: 780px;
  padding: 20px 50px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  justify-content: space-between;
}

.introduction__guide__info .introduction__guide__left > div {
  display: flex;
  align-items: center;
  gap: 40px;
}

.introduction__guide__info .introduction__guide__left > div > div {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid #d6f2f9;
  border-radius: 50%;
}

.introduction__guide__info .introduction__guide__left > div h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 32px */
  letter-spacing: -0.5px;
}
.introduction__guide__info .introduction__guide__left div:nth-child(2) button {
  display: flex;
  gap: 63px;
  padding: 14px 26px;
  border-radius: 999px;
  border: 1px solid #e4f2ff;

  background: #f3f9ff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.45px;
}
.introduction__guide__right {
  width: 50%;
}
.introduction__guide__right .guide__right__container {
  display: flex;
  gap: 20px;
}

.guide__right__item {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 40px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  width: 50%;
  transition: all 0.3s;
}

.guide__right__item .right__item__left {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid #d6f2f9;
  border-radius: 50%;
  transition: all 0.3s;
}
.guide__right__item:hover {
  background-color: #59cbe0;
}
.guide__right__item:hover .right__item__left {
  background-color: #fff347;
  border: 7px solid #fff347;
}

.guide__right__item .right__item__right p {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 32px */
  letter-spacing: -0.5px;
}
/* --------------------------course__info ----------------------*/
.course__info {
  width: 1920px;
  padding: 0 160px;
  padding-bottom: 70px;
}

.course__info__title {
  margin: 0;
  padding-bottom: 30px;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 42px */
  letter-spacing: -0.7px;
}

.course__info__container .course__tabs ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.course__info__container .course__tabs ul .course__tab__item {
  width: 33.3%;
  border-right: 1px #cadfee;
  padding: 19px 0;
  background: #eff8ff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */
  letter-spacing: -0.5px;
  color: #007994;
  border-right: 1px solid #cadfee;
  cursor: pointer;
  transition: all 0.5s;
}

.course__info__container .course__tabs ul .course__tab__item.active {
  color: white;
  background-color: #007994;
}

.course__info__container .course__tabs ul .course__tab__item:first-of-type {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.course__info__container .course__tabs ul .course__tab__item:last-of-type {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: unset;
}

.course__timeline {
  display: flex;
  gap: 30px;
  align-items: center;
}

.course__timeline .course__timeline__left {
  width: 1065px;
  height: 620px;
  border-radius: 20px;
  padding: 40px 0;
}

.course__timeline .course__timeline__left .timeline__left__map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff2df url("../img/seongnam__medical__list/main/course_timeline.png") no-repeat 0px
    77.36px / 100% 71.348%;
  border-radius: 20px;
  position: relative;
}

.timeline__left__header {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0px;
  background: #f6faff;
  padding: 25px 40px;
}

.timeline__left__h4{
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.timeline__left__header h4 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #007994;
  margin: 0;
}

.timeline__left__header h4 span:nth-of-type(2) {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.timeline__left__header h4 span:last-of-type {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.45px;
}

.timeline {
  /* border: 2px solid #1a73e8; */
  border-radius: 15px;
  /* padding: 20px; */
  background-color: #eef1f5;
  width: 100%;
  height: 100%;
}

.timeline {
  position: relative;
  padding: 20px 140px;
  display: flex;
  flex-direction: column;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot.highlight {
  border: 7px solid #BFF3FF;
  border-radius: 50%;
  margin-left: -7px;
}

.dot__circle {
  width: 20px;
  height: 20px;
  background-color: #00B1D9;
  border-radius: 50%;
}

.timeline-item {
  display: flex;
  gap: 35px;
  height: 20%;
  align-items: center;
}

.timeline-item .label{
  font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 32px */
letter-spacing: -0.5px;
}

.timeline-item.active .label{
  color: #007994;
}

.course__timeline__right {
  width: 504px;
  height: 620px;
  padding: 40px 0;
  display: flex;
  position: relative;
}

.course__timeline__right .dash__line {
  position: absolute;
  top: 120px;
  height: 390px;
  left: 148.5px;
  border: 1px dashed #00B1D9;
}

.timeline__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*------------------map__info--------------------*/
.map__info {
  width: 1920px;
  padding: 0 160px;
  position: relative;
}
.map__info h2 {
  margin: 0;
  padding-bottom: 30px;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 42px */
  letter-spacing: -0.7px;
}
.map__info .map__background {
  height: 460px;
  border-radius: 20px;
  border: 1px #d9d9d9;

  background: url("../img/seongnam__medical__list/main/map.png") lightgray 50% / cover no-repeat;
}
.map__pointer {
  position: absolute;
  left: 47.8%;
  top: 32.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pointer__tooltip {
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.4px;
  padding: 8px 16px;
  background: white;
  border-radius: 10px;
  border: 1px solid #c1404b;
}

.pointer__tooltip::after,
.pointer__tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}

.pointer__tooltip::after {
  border-width: 10px;
  z-index: 1;
  border-top-color: #c1404b;
}

.pointer__tooltip::before {
  z-index: 2;

  border-width: 10px;
  border-top-color: white;
  top: calc(95%); /* Adjust to create the border gap */
}

/* ---------------------environment------------------*/
.environment {
  width: 1920px;
  padding: 0 160px;
  padding-bottom: 70px;
}

.environment__wrapper {
  padding: 60px 50px;
  background: #f6faff;
  border-radius: 20px;
}

.environment__wrapper h2 {
  color: #007994;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 41.6px */
  letter-spacing: -0.65px;
  padding-bottom: 20px;
}

.environment .environment__card {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;
}

.environment__card__item {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #e0e0e0;

  background: #fff;
  padding: 24px 30px;
  gap: 30px;
}

.environment__card__item > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #e2f3ff;
  padding: 15px;
}
.environment__card__item > div:first-of-type img {
  width: 70px;
  height: 70px;
}

.environment__card__item div:nth-child(2) h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin: 0;
}

.environment__card__item div:nth-child(2) p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.45px;
}

.environment__map {
  border-radius: 20px;
  border: 1px #d9d9d9;
  height: 400px;
  background: url("../img/seongnam__medical__list/main/bg_map.png") lightgray 50% / cover no-repeat;
}
.environment__detail {
  padding-top: 20px;
}
.environment__detail .walker__info,
.bus__info {
  display: flex;
  align-items: center;
  gap: 30px;
}
.environment__detail .walker__info > div:first-child,
.bus__info > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.environment__detail .walker__info > div:first-child > div,
.bus__info > div:first-child > div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: 6px solid #e9f4ff;
}

.environment__detail .walker__info > div:first-child h4,
.bus__info > div:first-child h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 32px */
  letter-spacing: -0.5px;
}

.environment__detail .walker__info > div:first-child > div img,
.bus__info > div:first-child > div img {
  width: 24px;
  height: 24px;
}

.environment__detail .walker__info span,
.bus__info span {
  color: #007994;
}
.environment .environment__content .content__card {
  margin: 60px 0;
}

.environment .environment__content .content__card > div {
  display: flex;
  gap: 80px;
}

.environment .environment__content .content__card .content__card__img img {
  width: 430px;
  height: 270px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.content__card__right {
  /* max-width: 990px; */
  position: relative;
}

.content__card__right h3 {
  color: #007994;

  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 39px */
  letter-spacing: -0.65px;
  margin: 0;
}

.highlight__div {
  width: 56px;
  height: 4px;
  background-color: #007994;
  margin: 20px 0;
}

.content__card__right p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  letter-spacing: -0.5px;
}

.content__card__right .card__right__bottom {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 10px;
  gap: 10px;
}

.content__card__right .card__right__bottom img {
  width: 30px;
  height: 30px;
}

.content__card__right .card__right__bottom p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.45px;
}

/* ------------------additional info--------------------------*/
.addition__info {
  width: 1920px;
  padding: 0 160px;
  padding-top: 70px;
  padding-bottom: 120px;
}

.addition__info h2 {
  margin: 0;
  color: #444;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 42px */
  letter-spacing: -0.7px;
}
.addition__tabs {
  padding-top: 30px;
}

.addition__tabs ul {
  display: flex;
  list-style: none;
}

.addition__tabs .addition__tabs__item {
  width: 400px;
  padding: 19px 0;
  background: #E8FCFF;
  border-top: 1px solid #d9d9d9;

  border-right: 1px solid #d9d9d9;
  cursor: pointer;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 32px */
  letter-spacing: -0.5px;
  background: #fff;
  transition: all 0.5s;
}

.addition__tabs .addition__tabs__item:first-of-type {
  border-radius: 20px 0px 0px 0px;
  border: 1px solid #d9d9d9;
}

.addition__tabs .addition__tabs__item.active {
  color: #007994;

  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 32px */
  letter-spacing: -0.5px;
  background: #E8FCFF;
}

.addition__tabs .addition__tabs__item:last-of-type {
  border-radius: 0px 20px 0px 0px;
}

.addition__map {
  position: relative;
  height: 600px;
  border-radius: 0px 0px 20px 20px;
  background: url("../img/seongnam__medical__list/main/bg__addition.png") lightgray 50% / cover
    no-repeat;
}

.addtion__raito {
  display: flex;
  gap: 10px;
  padding-top: 34px;
  padding-left: 40px;
}

.addtion__raito div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007994;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.addtion__raito div.active {
  color: white;
}

.pointer__group .pointer__item {
  position: absolute;
}

.pointer__item:not(:first-of-type) {
  width: 26px;
  height: 33.999px;
}
.pointer__item:first-of-type {
  top: 260px;
  left: 658px;
  width: 38px;
  height: 50px;
}

.pointer__item:first-of-type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.pointer__wrapper {
  position: relative;
}

.pointer__item:first-of-type .pointer__wrapper p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-style: normal;
  color: white;
  font-weight: 600;
  line-height: 160%; /* 35.2px */
  letter-spacing: -0.55px;
}

.pointer__item:not(:first-of-type) .pointer__wrapper p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 22.4px */
  letter-spacing: -0.35px;
}

.pointer__item:nth-of-type(2) {
  top: 247px;
  left: 740px;
}

.pointer__item:nth-of-type(3) {
  top: 122px;
  left: 802px;
}

.pointer__item:nth-of-type(4) {
  top: 180px;
  left: 850px;
}

.pointer__item:nth-of-type(5) {
  top: 289px;
  left: 466px;
}

.pointer__item:nth-of-type(6) {
  top: 215px;
  left: 1200px;
}

.pointer__item:nth-of-type(7) {
  top: 415px;
  left: 1080px;
}

.addition__content {
  position: relative;
  margin-top: -30px;
  height: 1100px;
  border-radius: 0px 0px 20px 20px;
  background: url("../img/seongnam__medical__list/main/bg__footer.png") lightgray 50% / contain
    no-repeat;
}
.addition__content__wrapper {
  width: 1530px;
  padding-left: 80px;
  padding-top: 30px;
  height: 714px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.addition__content__wrapper::-webkit-scrollbar {
  margin-left: -20px;
  border-radius: 10px;
  width: 8px; /* Width of the scrollbar */
}

.addition__content__wrapper::-webkit-scrollbar-track {
  margin-top: 30px;
  border-radius: 20px;
  background: #888; /* Background of the scrollbar track */
}

.addition__content__wrapper::-webkit-scrollbar-thumb {
  background: white; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  margin-top: 30px;
}

.addition__content__wrapper::-webkit-scrollbar-thumb:hover {
  background: white; /* Color of the scrollbar thumb on hover */
}

.addition__content__wrapper .addition__card {
  width: 700px;
  height: 200px;
  border-radius: 20px;
  box-sizing: border-box;
}

.addition__content__wrapper .addition__card:hover .addition__card__container {
  border: 4px solid #007994;
}
.addition__card__container {
  width: 700px;
  height: 200px;
  box-sizing: border-box;
  border: 4px solid transparent;
  border-radius: 24px;
  transition: all 0.3s;
}
.addition__card__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20px;
}
.addition__card__left {
  width: 360px;
  height: 100%;
  border-radius: 20px;
}

.addition__card__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.addition__content__wrapper .addition__card .addition__card__right {
  padding: 30px;
  width: 380px;
  height: 200px;
}

.addition__content__wrapper
  .addition__card
  .addition__card__right
  .card__right__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.addition__content__wrapper
  .addition__card
  .addition__card__right
  .card__right__header
  > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.addition__content__wrapper
  .addition__card
  .addition__card__right
  .card__right__header
  > div
  h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 32px */
  letter-spacing: -0.5px;
}

.addition__content__wrapper
  .addition__card
  .addition__card__right
  .card__right__header
  p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.4px;
}
.addition__content__wrapper
  .addition__card
  .addition__card__right
  .card__right__header
  > div
  > div {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #007994;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.addition__content__wrapper
  .addition__card
  .addition__card__right
  .card__right__location
  img,
.addition__content__wrapper
  .addition__card
  .addition__card__right
  .card__right__phone
  img {
  width: 24px;
  height: 24px;
}

.addition__content__wrapper
  .addition__card
  .addition__card__right
  .card__right__location,
.addition__content__wrapper
  .addition__card
  .addition__card__right
  .card__right__phone {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

/* ------------------additional info--------------------------*/

/*---------------------Header----------------------------*/

.header-image {
  background-image: url("../img/seongnam__medical__list/main/bg_head.png");
}
/* ===================================================== */

.seaction {
  max-width: 1900px;
  height: 70px;
  /* margin: 0 auto; */
}

.mountain-container {
  height: 100vh;
  padding-right: 160px;
  padding-left: 160px;
}

.mountain-container h1 {
  color: #111;
  font-family: "Wavve PADO TTF";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: -0.9px;
  margin-top: 70px;
}

.mountain-content {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
}

.content-list {
  position: relative;
  width: 770px;
  height: 400px;
  cursor: pointer;
}

.content-bg {
  content: "";
  display: block;
  width: 770px;
  height: 350px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #d8f1ff;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.content-list:hover .content-bg {
  content: "";
  display: block;
  width: 770px;
  transition: all 0.3s ease-in-out;
  height: 350px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #d8f1ff;
  background-image: url("/include/tour/img/waterway/filter1.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  border-radius: 20px 20px 130px 20px;
}

.content-items {
  display: flex;
  align-items: center;
}

.content-items .items-desc {
  display: flex;
  flex-direction: column;
}

.content-items .items-desc img {
  width: 400px;
  height: 300px;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.content-items .items-desc .items-btn {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px 0px;
  margin: 0 auto;
  margin-top: 26px;
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  box-shadow: 4px 4px 0px 0px #cdd7f8;
  transition: all 0.3s ease-in-out;
}

.content-list:hover .content-items .items-desc .items-btn {
  filter: drop-shadow(4px 4px 0px rgba(0, 108, 59, 0.2));
  color: #ffffff;
}

.content-items .items-desc .items-btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("/include/tour/img/waterway/blue.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.content-list:hover .content-items .items-desc .items-btn::before {
  background-image: url("/include/tour/img/waterway/seablue.png");
}

.items-conent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.items-conent h2 {
  text-align: center;
  color: #004727;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.items-conent p {
  /* text-align: center; */
  width: 301px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
}

.contact-list {
  display: flex;
}

/* Header */
