* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow: hidden;
}



/* --------------------------Introduction ----------------------*/
.introduction {
    padding-bottom: 120px;
    width: 1920px;
    padding-left: 134px;
    padding-top: 70px;
    /* padding: 70px 160px; */
}

.introduction__title {
    margin: 0;
    font-weight: 700;
    font-size: 28px !important;
}

.introduction__title1 {
    color: #EA0054;
    font-family: Pretendard;
    margin: 0;
    font-weight: 700;
    font-style: normal;
    font-size: 32px !important;
    line-height: 150%;
    /* 48px */
    letter-spacing: -0.8px;
}


.introduction__item {
    padding-top: 30px;
    width: 100%;
    display: flex;
    gap: 80px;
}


/*---------------------Header----------------------------*/

.header-image {
    background-image: url('/include/tour/img/Touristhotel/themebanner1.jpg');
}

/* ===================================================== */


.seaction {
    max-width: 1850px;
    height: 70px;
    /* margin: 0 auto; */
}

.mountain-container {
    height: 100vh;
    padding-right: 160px;
    padding-left: 160px;
}

.mountain-container h1 {
    color: #111;
    font-family: "Wavve PADO TTF";
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: -0.9px;
    margin-top: 70px;
}

.mountain-content {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
}

.content-list {
    position: relative;
    width: 770px;
    height: 400px;
    cursor: pointer;

}



.content-bg {
    content: '';
    display: block;
    width: 770px;
    height: 350px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #D8F1FF;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
}

.content-list:hover .content-bg {
    content: '';
    display: block;
    width: 770px;
    transition: all 0.3s ease-in-out;
    height: 350px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #D8F1FF;
    background-image: url('/include/tour/img/waterway/filter1.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    border-radius: 20px 20px 130px 20px;

}

.content-items {
    display: flex;
    align-items: center;
}

.content-items .items-desc {
    display: flex;
    flex-direction: column;
}

.content-items .items-desc img {
    width: 400px;
    height: 300px;
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
}

.content-items .items-desc .items-btn {
    position: relative;
    background-color: #ffffff;
    border-radius: 20px 0px;
    margin: 0 auto;
    margin-top: 26px;
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    box-shadow: 4px 4px 0px 0px #CDD7F8;
    transition: all 0.3s ease-in-out;

}

.content-list:hover .content-items .items-desc .items-btn {
    filter: drop-shadow(4px 4px 0px rgba(0, 108, 59, 0.20));
    color: #ffffff;
}

.content-items .items-desc .items-btn::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('/include/tour/img/waterway/blue.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.content-list:hover .content-items .items-desc .items-btn::before {
    background-image: url('/include/tour/img/waterway/seablue.png');

}



.items-conent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.items-conent h2 {
    text-align: center;
    color: #004727;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.items-conent p {
    /* text-align: center; */
    width: 301px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;

}

.contact-list {
    display: flex;
}


/* cart */
.pagination button:disabled {
    background-color: #e6e6e6; 
    cursor: not-allowed; 
}


.introduction .container h1{
    color: #111;
font-family: "Wavve PADO TTF";
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 54px */
letter-spacing: -0.9px;
}

.container {
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
h1{
font-size: 36px;
font-weight: 400;
line-height: 54px;
letter-spacing: -0.025em;
text-align: left;
}
.request-container h1 {
    color: #111;
    font-family: "Wavve PADO TTF";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 54px */
    letter-spacing: -0.9px;
}

.grid-container {
    padding-bottom: 62px;
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 20px;
}

.grid-item {
    width: 385px;
    height: 420px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s ease, border-color 0.2s ease;
    position: relative;
    padding-bottom: 40px;
}
.grid-item.first {
padding-bottom: 14px;
}
.grid-item .icon {
    position: absolute;
    bottom: 221px; 
    right: 10px;
    width: 60px;
    height: 60px;
    background-color: #005BAC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.grid-item:hover .icon {
    opacity: 1;
    visibility: visible;
}

.grid-item .icon img {
    width: 24px; 
    height: 24px;
    object-fit: contain;
}

.grid-item:hover {
    border-radius: 20px;
    border: 2px solid #005BAC;

}


.grid-item img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 0;
    display: block;
    margin: 0;
}

.grid-item h3,
.grid-item p {
    position: relative;
    z-index: 1;
}



.grid-item h3 {
    padding-left: 20px;
    /* padding-top: 24px; */
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 32px */
    letter-spacing: -0.5px;
}

.grid-item p {
    color: #111;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 25.6px */
    letter-spacing: -0.4px;
}
/* grid content */
.grid-content-container
{
    width: 371px;
}
.grid-content .icon-container {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}
.grid-content{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 7%;
    margin-bottom: 1%;
    gap: 2%;
}
.grid-icon.location{
    width: 14px !important;
    height: 18px !important;
}
.grid-icon.bed{
    width: 18px !important;
    height: 14px !important;
}
.grid-icon.phone{
    width: 16px !important;
    height: 18px !important;
}
.grid-icon.home{
    width: 18px !important;
    height: 16px !important;
}

/* guide icon */
.guide-icon-container{
    display: flex;
    margin-top: 2%;
    gap: 2%;
}
.guide-icon {
    display: flex;
    background-color: #F6F7FB;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
}
.wheelchair{
    width: 16px !important;
    height: 20px !important;
}
/* guide text */
.max-plus{
    height: 100%;
    margin-top: 2%;
}
.walk{
    width: 12px !important;
    height: 24px !important;
}
.wc{
    width: 23px !important;
    height: 20px !important;
}
.parking{
    width: 22px !important;
    height: 23px !important;
}
.steep{
    width: 23px !important;
    height: 19.18px !important;
}
.elevator{
    width: 16px !important;
    height: 24px !important;
}
.meditation{
    width: 24px !important;
    height: 25px !important;
}

.pagination {
    margin-left: 436px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button, .pagination .page-number {
    background-color: white;
    color: black;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-number {
    color: #111;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 25.6px */
letter-spacing: -0.4px;
    /* font-weight: bold; */
    display: inline-flex !important; 
    justify-content: center;
    align-items: center; 
}


.pagination .active {
    border-color: black;
    color: black;
    font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 160%; /* 25.6px */
letter-spacing: -0.4px;
}

.pagination button:hover, .pagination .page-number:hover {
    background-color: #e6e6e6;
    border-color: #aaa;
}


/* Tag container */
.tags {
    display: flex;
    gap: 8px;
    padding-left: 20px;
    padding-top: 16px;
}

/* Individual tags */
.tag {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    line-height: 1;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

/* Tag colors */
.tag.red {
    background-color: white;
    color: #FC4848;
    border-color: #FC4848;
}
.tag.red:hover {
    background-color: #FC4848;
    color: white; /* Text color */
    border-color: #FC4848; /* Border color */
}

.tag.pink {
    background-color: white;
    color: #EF4F97;
    border-color: #EF4F97;
}
.tag.pink:hover {
    background-color: #EF4F97;
    color: white; /* Text color */
    border-color: #EF4F97; /* Border color */
}



.tag.green {
    background-color: white;
    color: #1C943A;
    border-color: #1C943A;
}

/* Hover effect for green tag */
.tag.green:hover {
    background-color: #1C943A;
    color: white; /* Text color */
    border-color: #1C943A; /* Border color */
}


.tag.blue {
    background-color: white;
    color: #548DF4;
    border-color: #548DF4;
}

/* Hover effect for green tag */
.tag.blue:hover {
    background-color: #548DF4;
    color: white; /* Text color */
    border-color: #548DF4; /* Border color */
}

.tag.orange {
    background-color: white;
    color: #FF6320;
    border-color: #FF6320;
}

/* Hover effect for green tag */
.tag.orange:hover {
    background-color: #FF6320;
    color: white; /* Text color */
    border-color: #FF6320; /* Border color */
}

.tag.ocean {
    background-color: white;
    color: #229EF2;
    border-color: #229EF2;
}

/* Hover effect for green tag */
.tag.ocean:hover {
    background-color: #229EF2;
    color: white; /* Text color */
    border-color: #229EF2; /* Border color */
}

.tag.Indigo {
    background-color: white;
    color: #6849FE;
    border-color: #6849FE;
}

/* Hover effect for green tag */
.tag.Indigo:hover {
    background-color: #6849FE;
    color: white; /* Text color */
    border-color: #6849FE; /* Border color */
}

.tag.Purple {
    background-color: white;
    color: #9C5BE6;
    border-color: #9C5BE6;
}

/* Hover effect for green tag */
.tag.Purple:hover {
    background-color: #9C5BE6;
    color: white; /* Text color */
    border-color: #9C5BE6; /* Border color */
}




